#carContainer{
    min-width: 250px;
    max-width: 340px;
}


.card-img{
    aspect-ratio: 3/2;
    object-fit: cover;
}

@media all and (max-width: 567px){
    #cardContainer p{
        font-size: 18px
    }
}