#carContainer{
    min-width: 250px;
    max-width: 340px;
}

#pedidoAlerta{
    background-color: rgb(253, 31, 31);
}

#pedidoEnTiempo{
    background-color: rgb(31, 192, 53);
}

.card-img{
    aspect-ratio: 3/2;
    object-fit: cover;
}

@media all and (max-width: 567px){
    #cardContainer p{
        font-size: 18px
    }
}