#root{
    background-image: url("../../../assets/camarero-restaurante-contemporaneo-inspiracion-asiatica-linternas-rojas_641878-2134.jpg");
    background-size: cover;
}
#mainContacto{
    color: #000;
    margin: 0 auto;
    padding: 1em;
    background: hwb(0 100% 0% / 0.50) border-box;
    overflow: hidden;
    border-radius: .3em;
    box-shadow: 0 0 0 1px hsla(0,0%,100%,.3) inset,
                0 .5em 1em rgba(0, 0, 0, 0.6);
    text-shadow: 0 1px 1px hsla(0,0%,100%,.3);
    
}