@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.banner-imagen {
  background-image: url("./src/assets/camarero-restaurante-contemporaneo-inspiracion-asiatica-linternas-rojas_641878-2134.jpg");
  background-size: cover;
  height: 100vh;
  background-color: #f8f9fa;
  padding: 2rem;
  text-align: center;
}

.logoInicio {
  margin-top: 10vh;
  width: 100%;
  max-width: 900px;
  height: auto;
  object-fit: contain;
}
@media screen and (max-width: 576px) {
  .logoInicio {
    margin-top: 10%;
    width: 100%;
    max-width: 500px;
    height: auto;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .logoInicio {
    margin-top: 5%;
    width: 100%;
    max-width: 900px;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .logoInicio {
    margin-top: 5%;
    width: 100%;
    max-width: 700px;
    height: auto;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1400px) {
  .logoInicio {
    margin-top: 3%;
    width: 50%;
    max-width: 700px;
    height: auto;
  }
}

.banner-imagen2 {
  background-image: url("./src/assets/chefs-trabajando-cocina-luz-roja-colgando-techo_902338-14584.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.contenido {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-align: center;
}

.estiloParrafo {
  background-color: rgb(99, 99, 99, 0.5);
  width: 200px;
  height: 200px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tituloSeccion{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding-top: 50px;
}

@media screen and (max-width: 576px) {
  .estiloParrafo {
    margin-top: 10%;
    width: 100%;
    max-width: 500px;
    height: auto;
  }
  .contenido {
    font-size: 14px;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .estiloParrafo {
    margin-top: 5%;
    width: 100%;
    max-width: 900px;
    height: auto;
  }
  .contenido {
    font-size: 13px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .estiloParrafo {
    margin-top: 5%;
    width: 100%;
    max-width: 700px;
    height: auto;
  }
  .contenido {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1400px) {
  .estiloParrafo {
    margin-top: 3%;
    width: 50%;
    max-width: 400px;
    height: auto;
  }
  .contenido {
    font-size: 25px;
  }
}
.banner-imagen4 {
  background-image: url("./src/assets/low-angle-asian-paper-lanterns.jpg");
  background-size: cover;
  height: 100vh;
  margin-top: 0;
}