.ganancias-container {
  position: relative;
}

.banner {
  object-fit: cover;
  height: 395px;
  width: 100%;
  position: relative;
  filter: blur(2px) brightness(0.5);
}

.imagen-contenedora {
  z-index: 5;
}

.img-form-div {
  overflow: hidden;
  height: 100%;
}

.img-ganancias {
  object-fit: cover;
  width: 100%;
}

.bannerTitulo {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

@media screen and (max-width: 280px) {

}

@media screen and (min-width: 280px) and (max-width: 576px) {
  .bannerTitulo {
    padding-top: 150px;
  }
}

@media screen and (min-width: 577px) and (max-width: 1024px) {
  .img-ganancias {
    height: 65vh;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1400px) {
  .img-ganancias {
    height: 70vh;
  }
}
@media screen and (min-width: 1401px) {
  .bannerTitulo {
    font-size: 100px;
  }
  .img-ganancias {
    height: 75vh;
  }
}

@media all and (min-width: 768px) {
  .imagen-contenedora {
    max-width: 70vw;
  }
}
@media all and (min-width: 351px) and (max-width: 767px) {
  .imagen-contenedora {
    max-width: 80vw;
  }
}

@media all and (max-width: 350px) {
  .imagen-contenedora {
    max-width: 90vw;
  }
}
