.img-tabla{
    aspect-ratio: 3/2;
    min-width: 150px;
    max-width: 200px;
    object-fit: cover;
}

.input-tabla{
   min-width: 65px;
   max-width: 100px;
}

.map-container {
    height: 450px; /* o la altura deseada */
    width: 100%; /* o el ancho deseado */
}

.notas{
    resize: none;
}