.img-tabla{
    aspect-ratio: 3/2;
    min-width: 150px;
    max-width: 200px;
    object-fit: cover;
}

.input-tabla{
   min-width: 65px;
   max-width: 100px;
}

.map-container {
    height: 450px;
    width: 100%;
}

.notas{
    resize: none;
}

.mainPage{
    margin-top: 120px;
}