.carousel-item-custom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-custom img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajustar la imagen al contenedor */
  border-radius: 50%; /* Borde redondeado de la imagen */
}

@media all and (min-width: 767px) {
    .card-custom {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%; /* Ancho del card */
        margin: 0 auto; /* Centrar el card */
      }
    
      .image-custom {
        width: 100px; /* Ancho de la imagen */
        height: 100px; /* Alto de la imagen */
        margin-bottom: 10px; /* Margen inferior de la imagen */
      }
}
