.login-container{
    position: relative;
}

.background-img-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

.img-blur-ingreso{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter: blur(5px);
}

.form-Img-Container{
    /* position: relative; */
    z-index: 5;
}

.row{
    height: 80vh;
}


@media all and (min-width: 992px){    
    .formulario{
        width: 75%;
    }
}

@media all and (min-width: 768px){    
    .form-Img-Container{
        max-width: 70vw;
    }
}

@media all and (min-width: 351px) and (max-width: 767px){    
    .form-Img-Container{
        max-width: 80vw;
    }
}

@media all and (max-width: 350px){    
    .form-Img-Container{
        max-width: 90vw;
    }
}
